*{
  margin:0;
  padding: 0;
}

.main{
  border: 2px solid black;
  width: 50%;
  margin:  auto;
  /* display: flex; */
  align-content: center;
}

.addtask-input{
  width: 50%;
  height: 40px;
  margin-left: 20px;
  font-size: large;
}


ul{
  list-style-type: none;
}

.task-item{
  margin: 10px 0 10px 10px;
  font-size: 20px;
  /* border: 1px solid green; */
}

.task-text{
  margin: 0 10px 0 5px;
}











/* ---------- Buttons-------------- */
button{
  background-color: transparent;
  width: 60px;
  height: 25px;
  text-align: center;
  margin-left: 10px;
  
}

.add-btn{
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
}

.delete-btn{
   background-color: red;
   color: white;
}

.edit-btn{
  color: green;
}